<%- include('template/cabecera', {tituloWeb : 'Pagina 404'})%>
<div class="container">
    <h1><%= titulo %></h1>
    <h2> Regrese a la pagina anterior </h2>
</div>
    
    
<%- include('template/footer')%>